[bumpversion]
current_version = 0.33.0
commit = True
tag = True

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:README.md]
search = Version: {current_version}
replace = Version: {new_version}

[bumpversion:file(mcp-img):docker/Dockerfile]
search = leanix-agent[mcp]>={current_version}
replace = leanix-agent[mcp]>={new_version}

[bumpversion:file(agent-img):docker/Dockerfile]
search = leanix-agent[agent]>={current_version}
replace = leanix-agent[agent]>={new_version}

[bumpversion:file:leanix_agent/agent_server.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:leanix_agent/mcp_server.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"
